%h2 Profile
%br
%h4 Username: #{@user.username}
%br
%h4 Email: #{@user.email}
%br
- if @user.team
  %h4 Team: #{@user.team.name}
%br
.actions
  =link_to 'Edit', edit_user_path(@user), class: 'btn btn-success'
  =link_to 'Change password', edit_user_registration_path
  |
  =link_to 'Scoreboard', boards_path
