/ Announcements Carousel
%header#announcements.masthead.bg-primary.text-white.text-center
  #carouselExampleIndicators.carousel.slide{"data-interval" => "7000", "data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
      %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
      %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
    .carousel-inner{role: "listbox"}
      .carousel-item.active
        =image_tag "TFG-WEB.jpg", class: 'd-block img-fluid', alt: 'Responsive image'
        .carousel-caption.d-none.d-md-block
          %h3 The Friday Gathering - Summer Edition!
          %p Summer is a time of relationship for building, so we will meet at homes in Alameda for Bible studies.
          %h6
            Alameda @ 6:30 PM, Friday | Rides @ 6 PM at Barrows Hall
          %p Please contact Virginia (virginia.chae at gpmail.org) for rides
      .carousel-item
        =image_tag "SWS-generic.jpg", class: 'd-block img-fluid', alt: 'Responsive image'
        .carousel-caption.d-none.d-md-block
          %p We gather to worship God through songs, prayers, and listening to sermons every Sunday. Everyone is welcome!
          %h6
            = link_to 'Harbor Bay Parkway', 'https://www.google.com/maps/place/Gracepoint+Berkeley+Church/@37.7259911,-122.23579,17z/data=!3m1!4b1!4m5!3m4!1s0x808f846a9fc9b947:0xb503fe545d3946b6!8m2!3d37.7279048!4d-122.2338217'
            @ 9:00 AM, Sunday, 5/13/2018
          %p Rides at Barrows Hall at 8:15 AM
      .carousel-item
        =image_tag "iusm-big-group.jpg", class: 'd-block img-fluid', alt: 'Responsive image'
        .carousel-caption.d-none.d-md-block
          %h3 Events in Pictures
          %p
            Want to know we have been up to?
            =link_to 'photo albums!', 'https://igsm.smugmug.com/2017'
/ About Section
%section.bg-primary.text-white#about
  .container
    %h2.text-center What is IUSM?
    =image_tag 'https://photos.smugmug.com/2018/2018-03-24-IUSM-Cataract-Falls/i-DqR2Rdz/0/71adcbbb/X2/EXPORT-7142-X2.jpg', class: 'img-fluid', id: 'student-img', alt: 'Responsive image'
    %p IUSM is an official Christian student group at UC Berkeley. We are an undergraduate student group. The students in our group come from many countries across the world, including the United States. Our mission is to “love locally, impact globally", in which we seek to create a "home away from home" for students at Berkeley. We offer weekly Bible studies, and special talks and lectures on topics such as science vs. faith. We also offer English class, small group gatherings, fun trips around the Bay Area, sports, among other things. If you want to know more about us, contact us here, or come to our upcoming events!
