%section
  %h2 Are you ready for the IUSM Winter Challenge?
  #opening_answer
    = form_for @board, url: { action: 'create' } do |f|
      = f.hidden_field :user_id, value: current_user.id
      = f.submit "I AM READY!", class: 'btn btn-success'
