/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require commontator/application
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

header.masthead#announcements {
  padding-top: 100px;
}

header.masthead {
  padding-top: 120px;
}

header.masthead h2 {
  margin: 0px 0px 20px 0;
}

section#about {
  padding-top: 0px;
}

section h2 {
  margin: 0px 0px 40px 0;
}

.carousel-caption {
  max-width: 100%;
  width:100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
}

.carousel-indicators li {
  width: 3em;
  height: 0.5em;
}

.field {
  margin: 10px 0;
}

.finished {
  background-color: rgb(214, 255, 222);
}

.comment {
  font: 100% Lato;
}

.comment_avatar {
  display: none;
}

.comment_timestamp {
  font-size: 75%;
}

.comment_commontator {
  color: #18BC9C;
}

.comment_form_field textarea {
  padding: 15px;
}
