// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.easy {
  color: green;
}

.medium {
  color: orange;
}

.hard {
  color: darkred;
}

.crazy {
  color: red;
}

.instruction {
  height: 70px;
  cursor: pointer;
}

.response {
  margin: 5px 0;
}

.table-bordered td.bingo-cell {
  border-width: 2px;
  width: 20%;
}
