#markdownModal.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Markdown Support
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
      .modal-body
        %p Here is a short list of the supported markdown style:
        %p
          .md-style ** = &lt;bold&gt;
          .md-style * = &lt;em&gt; or &lt;italic&gt;
          .md-style # = &lt;h1&gt;
        %p For a full list, please check visit #{link_to 'here', 'https://michelf.ca/projects/php-markdown/extra/', target: '_blank'}
