.row
  .col-md-12
    %h2= Board::LAYOUT[@cell.row][@cell.col][:name]
    %p
      %em.muted= Board::LAYOUT[@cell.row][@cell.col][:description]
  .col-md-12
    %h2 Sharing about the activity:
    .card
      .card-body
        %p
          - if @cell.response
            %strong= @cell.response
          - else
            %strong Please share some thoughts.
    - if @cell.picture.present?
      = image_tag @cell.picture.url(:thumb)
    %p
  .col-md-12
    - if current_user == @cell.board.user
      =link_to 'Edit', edit_board_cell_path(@cell.board, @cell), class: 'btn btn-warning'
    =link_to 'Back to the board', board_path(@cell.board)
    |
    =link_to 'Scoreboard', boards_path
