/ Footer
%footer.text-center.bg-dark.fixed-bottom.text-white
  .container.py-4
    .row
      .col-12
        %h3 Wishing you fruitful winter!
      .col-12
        %h5
          Join IUSM Winter Challenge WeChat group
        %p=image_tag "weChatQRcode.jpg", height: "100px"
    .row
      .col-12
        .small
          Copyright © IUSM 2021
