!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{name: "description", content: "Official website for International Undergraduate Student Ministry at UC Berkeley"}
    %meta{name: "author", content: "Shufei Lei"}

    %title IUSM | International Undergraduate Student Ministry
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag
    %link{rel: :stylesheet, type: 'text/css', href: 'https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity: 'sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin: 'anonymous'}
  %body#page-top
    #react-root
    = javascript_include_tag 'application.js'
